.encabezado{
    background-color: aqua;
}
.seccion1{
    background-color: yellowgreen;
}
.articulo1{
    background-color: blueviolet;
}
articulo2{
    background-color: aquamarine;
}
.pie{
    background-color: antiquewhite;
}